<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name = "Math" publicKeyToken = "17677d939e76abeb" />
        <bindingRedirect oldVersion = "1.0.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
</configuration>
